#story {
	padding-top: 50px;
	width: 500px;
	margin: auto;
	font-family: "Garamond";

}

#control {
	display: block;
	margin: 20px auto;
	width: 500px;
}

.propNouns {
	font-weight: bolder;
}

h1 {
	text-align: center;
	margin-top: 100px;
}

.message {
	font-style: italic;
}

#rules {
	font-size: .8em;
	position: fixed;
	top: 150px;
	left: 20px;
	width: 200px;
}

#xout {
	list-style: none;
	float: right;
	margin-bottom: 5px;
	cursor: crosshair;
}

.hidden {
	display: none;
}